<%- include('layouts/default/head') %>

<%- include('layouts/default/header') %>

<br />

<div class="container">
    <h1>Search</h1>
    <form action="/search" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="query" value="<%= query %>" />
            <div class="input-group-append">
                <span class="input-group-text" id="query-addon" onclick="document.forms[0].submit()">Search</span>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <h1>Results for : <%= query %> (<%= videos.length %> results)</h1>

    <% videos.forEach(function(video, index) { %>
        <% if (index % 3 === 0) { %>
            <% if (index != 0) { %></div><br /><% } %>
            <div class="row">
        <% } %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/thumbnails/<%= video.id %>.jpg" class="card-img-top" alt="Miniature" />
                        <div class="card-body">
                            <h5 class="card-title"><%= video.title %></h5>
                            <a class="btn btn-primary" href="/video/<%= video.id %>">Watch</a>
                        </div>
                    </div>
                </div>
    <% }); %>
</div>

<%- include('layouts/default/foot') %>
